@model Wedding;
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">The Wedding Connection</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newwedding">Create a Wedding</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-action="Logout" asp-controller="Home" method="POST">
                    <button class="nav-link btn btn-link" type="submit">Logout</button>
                </form>
            </li>
        </ul>
        </div>
</nav>
<div class="container">
    

       
        
    
    <h2>Plan Your Wedding</h2>
    <form class="form-group" asp-action="AddWedding" asp-controller="Home" method="POST">
        <span asp-validation-for="WedderOne"></span>
        Wedder One: <input class="form-control" asp-for="WedderOne">
        <span asp-validation-for="WeddingTwo"></span>
        Wedder Two: <input class="form-control" asp-for="WeddingTwo">
        <span asp-validation-for="Date"></span>
        Date: <input class="form-control" asp-for="Date">
        <span asp-validation-for="Address"></span>
        Address: <input class="form-control" asp-for="Address">
        <button style="margin-top: 20px;" class="btn btn-success" type="submit">Create</button>
    </form>
</div>
